body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.buy-now-button {
    background-color: #febd69;
    color: #111;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #febd69;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.buy-now-button:hover {
    background-color: #fdb515;
}

a {
    text-decoration: none;
    color: inherit; /* Pour conserver la couleur par défaut du texte */
}